header{
    background-color: rgb(9, 100, 116);
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 0;
    align-items: center;
}

body{
    background-color: grey;
}

img{
    background-image: url(licensed-image.jpg);
    margin: 30px;
    border-radius: 10px;
    height: 1200px;
}

h1{
    font-size: 2rem;
    margin-left: 800px;
}
h2{
    font-size: 2rem;
    margin-left: 740px;
}

p{
    margin: 20px;
}
